#container {
  display: grid;
  place-content: center;
}

.productos {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  width: 50vw;
}

.izquierda {
  width: 30%;
}

.c-card {
  width: 50%;
  margin: 40px;
  max-width: 350px;
  min-width: 250px;
  padding: 5px;
}

ion-img{
  width: 200px;
  height: 200px;
}
