<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button menuToggle="right" (click)="changeVisible()">
          <ion-icon slot="icon-only" [name]="icono_carrito ? 'cart' : 'cart-outline'"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title> Tienda Informatica </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tienda Informatica</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
      <div class="izquierda"></div>
      <div class="productos">
        <ion-card class="c-card" *ngFor="let item of productos">
          <ion-card-header>
            <ion-card-title> {{item.nombre}} </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-label> Precio --> {{item.precio}}€ </ion-label>
            <br />
            <ion-label> Informacion del producto: {{item.marca}} </ion-label>
            <ion-img [src]="item.link"></ion-img>
          </ion-card-content>
          <ion-button (click)="carrito.agregarCarrito(item)" (click)="changeIcon()" class="center">
            Comprar
          </ion-button>
        </ion-card>
      </div>
    </div>
    <div class="c-divlista" *ngIf="!visible">
      <ion-list class="c-lista">
        <ion-item class="c-texto" *ngFor="let item of carrito.productos">
          <ion-label style="margin-right: 10px;">{{item.nombre}} - Cantidad x{{item.cantidad}}</ion-label>
          <ion-button (click)="carrito.borrarProducto(item.id)" (click)="changeIcon()" class="c-trash-button"
            fill="clear">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>

          <ion-button (click)="carrito.borrarTotal(item.id)" (click)="changeIcon()" class="c-trash-button" fill="clear">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-app>